html {
  background-image: url(/assets/img/CommunityChest/citytest.jpg);
  max-height: 100vh;
  max-width: 100vw;
}
body {
  overflow: hidden;
  text-align: center;
}
#myElement{
  background-color: aliceblue;
}
.namebox {
  border-radius: 4px;
  background-color: rgb(43, 99, 131);
  background-size: cover;
  height: 10vh;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 5vh;
  box-shadow: rgba(9, 143, 233, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.logobox {
  font-weight: 800;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  height: 15vh;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 5vh;
  box-shadow: rgba(9, 143, 233, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#dba {
  color: aliceblue;
  font-size: xx-large;
  padding-top: 2vh;
  text-align: center;
}
#community {
  position: relative;
  color: goldenrod;
  font-size: 40px;
  text-align: center;
}
.mottobox {
  border-radius: 4px;
  font-size: small;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 5vh;
  color: black;
  box-shadow: rgba(9, 143, 233, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.instructionbox {
  border-radius: 4px;
  font-size: small;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 5vh;
  box-shadow: rgba(9, 143, 233, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
#menulink {
  color:rgb(56, 82, 100);
  border-radius: 8px;
  font-size: large;
  margin-top: 100px;
  margin-right: 25vw;
  margin-left: 25vw;
  margin-bottom: 80px;
  box-shadow: rgba(9, 143, 233, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
#chest {
  margin-top: -0px;
  position: fixed;
  transform: translate(-50%, -50%);
  height: 15vh;
  font-size: 1rem;
  text-align: center;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(140, 167, 185));
  filter: drop-shadow(5px 5px 5px rgb(130, 165, 189));

}
.w3-dropdown-click-mine {
  position:relative;
  cursor:pointer;
}
.w3-dropdown-content-mine {
  text-align: center;
  cursor:auto;
  color:rgb(0, 64, 138);
  background-color:rgba(255, 255, 255, 0.0);
  display:none;
  padding:0;
  z-index:1
}
.w3-bar-item-mine {  
  text-align: center;
  padding:8px 16px;
  width:auto;
  border:none;
  display:block;
}
.menubox {
  font-size: small;
  margin-right: 5vw;
  margin-left: 5vw;
  box-shadow: rgba(9, 143, 233, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
#menu1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#howto {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  opacity: .4;
}

#link {
  color: goldenrod;
  text-align: center; 
  position:absolute;
  bottom:5px;
  width:100%;
}
.w3-show-mine {
  text-align:center;
  display:table-cell;
  vertical-align: middle;
  position: fixed;
  max-height: 100vh;
}
#Demo2 {
  max-height: 90vh;
  max-width: 100vw;
  height: 100px;
  position: absolute;
  top: -400%; 
}
.w3-animate-zoom-mine {animation:animatezoom 0.4s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.btn1 {
  background-color: rgb(255, 255, 255, 0.2);
  color:rgb(56, 82, 100);
  border-radius: 8px;
  font-size: x-large;
  margin-right: 15vw;
  margin-left: 15vw;
  margin-bottom: 50px;
  box-shadow: rgba(9, 143, 233, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.btn2 {
  background-color: rgb(255, 255, 255, 0.4);
  color:rgb(56, 82, 100);
  border-radius: 8px;
  font-size: x-large;
  margin-right: 15vw;
  margin-left: 15vw;
  margin-bottom: 50px;
  box-shadow: rgba(9, 143, 233, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.btn3 {
  background-color: rgb(255, 255, 255, 0.6);
  color:rgb(56, 82, 100);
  border-radius: 8px;
  font-size: x-large;
  margin-right: 15vw;
  margin-left: 15vw;
  margin-bottom: 50px;
  box-shadow: rgba(9, 143, 233, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}