#myElement{
  background-color: aliceblue;
}
#logo {
    width: 30%;
  }
.container {
  align-items: center;
  justify-content: center;
}
.name {
  background-color: goldenrod;
  font-size: 200%;
  margin-top: 0%;
  height: 50px;
}
.slogan {
  font-size: 100%;
}
.schedule {
  font-size: 100%;
}
.dashlogo {
  width: 10%;
}
.ubereatslogo {
  width: 15%;
}
.container {
  align-items: center;
  justify-content: center;
}
.imgleft1 {
  max-width: 35%;
  max-height: 0%;
  float: left;
}
.imgright1 {
  max-width: 35%;
  max-height: 0%;
  float: right;
}
.imgleft2 {
  max-width: 25%;
  max-height:45%;
  float: center;
}
.imgright2 {
  max-width: 25%;
  max-height:45%;
  float: center;
}
.imgcenter2 {
  max-width: 25%;
  max-height:45%;
  float: center;
}
.schedule {
  font-size: 100%;
}
.mySlides {
  max-width: 100%;
  max-height: 100vw;
  display:none
}
