#myElement{
  background-color: aliceblue;
}
#logo {
    width: 30%;
  }
.container {
  align-items: center;
  justify-content: center;
}
.name {
  background-color: goldenrod;
  font-size: 50px;
  margin-top: 0px;
}
.slogan {
  font-size: 20px;
  margin-top: -30px;
}
.schedule {
  font-size: 14px;
}
.dashlogo {
  width: 40px;
}
.container {
  align-items: center;
  justify-content: center;
}

.imgleft {
  max-width: 25%;
  max-height:45%;
  float: left;
}
.imgright {
  max-width: 25%;
  max-height:45%;
  float: right;
}
.schedule {
  font-size: 20px;

}
