button img {
    width: 100%;
}
#chest {
    position: absolute; 
    bottom: 10px;
    left: 10px;
}
button {
    outline: 10px double rgb(183, 182, 182);

    background-color: grey;
    margin-left: 15%; margin-top: -5px; font-family: Assistant, sans-serif; color:goldenrod;
    margin-right: 15%;
    border-radius: 8px;
    border: none;
}
.btn1 {
    box-shadow: 0px 2px 8px lightslategray ;
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-right: 25%;
}
.btn2 {
    box-shadow: 0px 2px 8px lightslategray  ;
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-right: 25%;
}
.btn3 {
    box-shadow: 0px 2px 8px lightslategray  ;
    font-size: 24px;
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%;
}
.btn4 {
    box-shadow: 0px 2px 8px lightslategray ;
    font-size: 14px;
    margin-left: 35%;
    margin-right: 35%;
}
#name {
    font-family: Assistant, sans-serif; text-align: center; color: rgba(26, 199, 52, 0.699); font-size: 50px; margin-top: -10px;
    }
#community {
    text-shadow: 1px 1px 2px goldenrod, 0 0 0.8em rgb(82, 82, 83);
    color: goldenrod;
    font: 100% sans-serif;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
#category {
    color: grey;
    font: .3em sans-serif;

}
#footer {
    font-family:Assistant, sans-serif; font-size: 15px; text-align: center; color: grey;
    margin-top: 30px;
}
#link {
    font-family:Assistant, sans-serif; color: grey; font-size: 20px; text-align: center;
    margin-top: -30px;
}
