
button img {
    width: 100%;
}
#chest {
    position: absolute; 
    bottom: 10px;
    left: 10px;
}

button {
    outline: 10px double lightslategray;
    background-color: gray;
    margin-left: 15%; margin-top: -5px; font-family: Assistant, sans-serif; color:goldenrod;
    margin-right: 15%;
    border-radius: 8px;
    border: none;
}
.btn1 {
    box-shadow: 0px 2px 8px lightslategrey;
    font-size: 24px;
    margin-top: 10%;
    margin-bottom: 10px;
}
.btn2 {
    box-shadow: 0px 2px 8px lightslategray  ;
    font-size: 24px;
    margin-bottom: 10px;
}
.btn3 {
    box-shadow: 0px 2px 8px lightslategray  ;
    font-size: 24px;
    margin-bottom: 10%;
}

#name {
    position: relative;
    z-index: 2;
    font-family: Assistant, sans-serif; 
    text-align: center; 
    font-size: 50px; 
    }
.buttons {
    box-shadow: 0px 2px 8px lightslategrey;
    padding: 30px;
    margin-top: -10PX;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
}
#community {
    color: goldenrod;
    box-shadow: 0px 2px 8px lightslategray ;
    font: 100% sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px 4px lightslategray;
    padding: 30px;
    margin-top: 20PX;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
}
#category {
    color: grey;
    font: .3em sans-serif;

}
#footer {
    font-family:Assistant, sans-serif; 
    font-size: 12px; 
    text-align: center; 
    color: grey;
    margin-bottom: -10PX;
}
#link {
    font-family:Assistant, sans-serif; color: grey; font-size: 20px; text-align: center;
    margin-bottom: 5PX;
}
.btn4 {
    box-shadow: 0px 2px 8px lightslategray ;
    font-size: 14px;
    margin-top: -10PX;
}
