.surface {
    /* the surface hosting swipe42 covers entire document size */
    width: 100%;
    height: 100vh;
    background: white;
  }
  .swipe42 {
    position: relative;
    left: -75px;
    top: -75px;
    margin-top: 50vh;
    margin-bottom: 50vh;
    margin-left: 50%;
    margin-right: 50%;
    width: 150px;
    height: 150px;
    border-radius: 10%;
  }
  .touched {
    /* change border when swipe42 is touched */
    border-radius: 45%;
    opacity: 0.75;
  }
  .swipe42:not(.touched) {
    /* animate to home position when swipe42 is released */
    transition: transform .1s cubic-bezier(0.1, 0.8, 0.2, 1.2);
  }
  body {
      overflow: hidden;
  }